 
  <div class="about-container">
    <header>
        <h1>About us</h1>
    </header>
    <main>
        <section class="about-section">
            <h2>About Study Buddy Finder</h2>
            <p>Study Buddy Finder is a platform designed to help students connect with like-minded study partners.
                Whether you're struggling with a difficult subject, preparing for an exam, or just looking for someone to study with,
                this app is the perfect solution!</p>
        </section>
        <section class="about-section">
            <h2>Features</h2>
            <p>User-friendly profiles to list subjects and study preferences. <br>
                Find and connect with study partners based on interests and availability. <br>
                Real-time chat system for seamless communication. <br>
                Customizable profiles to highlight study goals and progress.</p>
        </section>
        <section class="about-section">
            <h2>Our Values</h2>
            <ul>
                <li>Integrity</li>
                <li>Innovation</li>
                <li>Customer Focus</li>
                <li>Teamwork</li>
            </ul>
        </section>
    </main>
    <footer>
        <p> By CS Students 23</p>
    </footer>
</div>