/* You can add global styles to this file, and also import other style files */
body {
    background: linear-gradient(to bottom, #000000, #1c1c1c); /* Black to Grey Gradient */
    color: white; /* Set text color to white for better contrast */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
  }
  